<%= form_for(@computer, :remote => true) do |f| %>
<div class="pop edit">
		<div id="computer_accordion">
			<h3><a href="#">General</a></h3>
			<div>
				<p>
					<div>
						Name:<br /><%= f.text_field :name, {class: "validate[required]"} %>
						<br />
						SN:<br /><%= f.text_field :sn, {class: "validate[required]"} %>
						<br /><br />
						<div class='radios1'>
							Status:
								<%= f.radio_button :status, "active" %><label for="computer_status_active">Active</label>
								<%= f.radio_button :status, "inactive" %><label for="computer_status_inactive">Inactive</label>
						</div><br />
						<div class='radios1'>
							Machine Type:
								<%= f.radio_button :mtype, "laptop" %><label for="computer_mtype_laptop">Laptop</label>
								<%= f.radio_button :mtype, "desktop" %><label for="computer_mtype_desktop">Desktop</label>
								<%= f.radio_button :mtype, "server" %><label for="computer_mtype_server">Server</label>
							</div>
							<br />
						<div class='radios1'>
							Location:
								<%= f.radio_button :loc, "orlando" %><label for="computer_loc_orlando">Orlando</label>
								<%= f.radio_button :loc, "homes" %><label for="computer_loc_homes">Homes</label>
								<%= f.radio_button :loc, "miami" %><label for="computer_loc_miami">Miami</label>
								<%= f.radio_button :loc, "hawaii" %><label for="computer_loc_hawaii">Hawaii</label>
								<%= f.radio_button :loc, "vegas" %><label for="computer_loc_vegas">Las Vegas</label>
								<%= f.radio_button :loc, "newyork" %><label for="computer_loc_newyork">New York</label>
						</div>
					</div>

					<br /><br />
					<button type="button" class="soft next">Add Software</button>
				</p>
			</div>
			<h3><a href="#">Software</a></h3>
			<div>
				<p>
				<div>
				<% if @software %>
					<% for soft in @software %>
						<div class="ui-widget ui-corner-all" style="margin: 15px;">
						<div class="ui-widget-header ui-corner-all" style="padding: 0.4em;">Software Item<span style="float: right; position: relative; top: 4px; cursor: pointer;" class="close_software ui-icon ui-icon-circle-close"></span></div>
						<div style="padding: 10px;" class="ui-widget-content">
						<%= fields_for 'computer[software]', @software, :index => nil do |s| %>
							Software Name: <br />
							<%= text_field_tag "computer[software][][name]", soft['name'] %><br />
							Developer:<br />
							<%= text_field_tag "computer[software][][dev]", soft['dev'] %><br />
							Serial Number:<br />
							<%= text_field_tag "computer[software][][sn]", soft['sn'] %><br />
						<% end %>
						</div>
						</div>
					<% end %>
				<% end %>
				<div id="softwareFields">

				</div>
				<button type="button" id="add_software_link">Add Software</button>
				<button type="button" class="gen prev">Edit General</button>
				<button type="button" class="finalize last">Finalize</button>
				</div>
				</p>
			</div>
			<h3><a href="#">Finalize</a></h3>
			<div>
				<p>
					<button type="button" class="soft prev">Edit Software</button>
					<button type="button" class="gen prev">Edit General</button>
					<%= f.submit "Submit" %>
				</p>
			</div>
		</div>
	</div>
<% end %>
<div id="finishing_edit"></div>

<script type="text/javascript" src="/javascripts/jquery.validationEngine.js"></script>
<script type="text/javascript" src="/javascripts/jquery.validationEngine-en.js"></script>
<script type="text/javascript">

$(document).ready(function(){
	popIt();
	$('#edit_computer_<%= params[:id] %> :input[type=text], select').addClass('ui-corner-all ui-state-default');
	$('#edit_computer_<%= params[:id] %> :input[type=text], select').hover(
		function (){ 
			$(this).toggleClass('ui-state-hover'); 
		});
	$('#edit_computer_<%= params[:id] %> :input[type=text], select').focus(function(){
		$(this).toggleClass('ui-state-active');
	});
	$('#edit_computer_<%= params[:id] %> :input[type=text], select').blur(function(){
		$(this).toggleClass('ui-state-active');
	});

	$('.edit .radios1').buttonset();

	$('#edit_computer_<%= params[:id] %>').validationEngine('attach');

	$('.edit #computer_accordion').accordion({fillSpace: true});
	var h = $('.pop').css('height') - 100;
	$('.edit #computer_accordion >div').css('height', h);


	//$('#computer_accordion h3').unbind("click");

	$('.edit #computer_accordion .gen').each(function (index, elm) {
	    $(elm).click(function() {
	        $('#computer_accordion').accordion('activate', 0);
	    });
	});

	$('.edit #computer_accordion .soft').each(function (index, elm) {
	    $(elm).click(function() {
	    	if ($('#new_computer').validationEngine('validate'))
	    	{
	    		$('#computer_accordion').accordion('activate', 1);
	    	}
	    });
	});

	$('.edit #computer_accordion .finalize').each(function (index, elm) {
	    $(elm).click(function() {
	    	if ($('#new_computer').validationEngine('validate'))
	    	{
	    		$('.edit #computer_accordion').accordion('activate', 2);
	    	}
	    });
	});

	$('#computer_submit').button();
	$(':button').button();
	$('.last').button( 'option', 'icons', {secondary:'ui-icon-arrowstop-1-e'} );
	$('.next').button( 'option', 'icons', {secondary:'ui-icon-arrow-1-e'} );
	$('.prev').button( 'option', 'icons', {primary:'ui-icon-arrow-1-w'} );
	$('#computer_submit').css('color', '#0C0');
	$('#computer_submit').css('border', '1px solid #0A0');
	$('#edit_computer_<%= params[:id] %>').bind('ajax:success', function(){
  		$("#finishing_edit").html("Success!");
  		$("#finishing_edit").dialog({
			autoOpen: true,
			show: "blind",
			hide: "fade",
			modal: true,
			title: "Saved",
			buttons: { "Ok": function() { 
				var selected = $('#blackmamba').tabs('option', 'selected');
				$(this).dialog("destroy"); 
				$('#blackmamba').tabs('select', 0);
				$('#blackmamba').tabs('remove', selected );
				} }
		});
	});

	$("#add_software_link").bind("click", function(){
		$.get('/computer/add_software', function(data) {
		  $('#softwareFields').append(data);
		  style_form();
		});
	});

	$('.close_software').live("click", function() {
		$(this).parent().parent().remove();
	});
});

</script>

