<%= form_for(@computer, :remote => true) do |f| %>
<div class="pop" id="edit_<%= params[:id] %>_computer_container" style="display: none;">
		<div id="computer_<%= params[:id] %>_accordion">
			<h3><a href="#">General</a></h3>
			<div>
				<p>
					<div>
						Name:&nbsp;<%= f.text_field :name, {class: "validate[required]", id: "edit_#{params[:id]}-computer_name", size: 10} %>
						&nbsp;
						SN:&nbsp;<%= f.text_field :sn, {class: "validate[required]", id: "edit_#{params[:id]}-computer_sn", size: 12} %>
						&nbsp;
						Department: <%= f.select :dpt, ['IT', 'ACCTG'], {class: "validate[required]", id: "edit_#{params[:id]}-computer-dpt"} %>
						<br /><br />
						<div class='editcomputer_<%= params[:id] %>-radios'>
							Status:
								<%= f.radio_button :status, "active", {id: "edit_#{params[:id]}-computer_status_active"} %><label for="edit_<%= params[:id] %>-computer_status_active">Active</label>
								<%= f.radio_button :status, "inactive", {id: "edit_#{params[:id]}-computer_status_inactive"} %><label for="edit_<%= params[:id] %>-computer_status_inactive">Inactive</label>
						</div><br />
						<div class='editcomputer_<%= params[:id] %>-radios'>
							Machine Type:
								<%= f.radio_button :mtype, "laptop", {id: "edit_#{params[:id]}-computer_mtype_laptop"} %><label for="edit_<%= params[:id] %>-computer_mtype_laptop">Laptop</label>
								<%= f.radio_button :mtype, "desktop", {id: "edit_#{params[:id]}-computer_mtype_desktop"} %><label for="edit_<%= params[:id] %>-computer_mtype_desktop">Desktop</label>
								<%= f.radio_button :mtype, "server", {id: "edit_#{params[:id]}-computer_mtype_server"} %><label for="edit_<%= params[:id] %>-computer_mtype_server">Server</label>
							</div>
							<br />
						<div class='editcomputer_<%= params[:id] %>-radios'>
							Location:
								<%= f.radio_button :loc, "orlando", {id: "edit_#{params[:id]}-computer_loc_orlando"} %><label for="edit_<%= params[:id] %>-computer_loc_orlando">Orlando</label>
								<%= f.radio_button :loc, "homes", {id: "edit_#{params[:id]}-computer_loc_homes"} %><label for="edit_<%= params[:id] %>-computer_loc_homes">Homes</label>
								<%= f.radio_button :loc, "miami", {id: "edit_#{params[:id]}-computer_loc_miami"} %><label for="edit_<%= params[:id] %>-computer_loc_miami">Miami</label>
								<%= f.radio_button :loc, "hawaii", {id: "edit_#{params[:id]}-computer_loc_hawaii"} %><label for="edit_<%= params[:id] %>-computer_loc_hawaii">Hawaii</label>
								<%= f.radio_button :loc, "vegas", {id: "edit_#{params[:id]}-computer_loc_vegas"} %><label for="edit_<%= params[:id] %>-computer_loc_vegas">Las Vegas</label>
								<%= f.radio_button :loc, "newyork", {id: "edit_#{params[:id]}-computer_loc_newyork"} %><label for="edit_<%= params[:id] %>-computer_loc_newyork">New York</label>
						</div>
					</div>

					<br /><br />
				</p>
			</div>
			<h3><a href="#">Software</a></h3>
			<div>
				<p>
				<div>
				<% if @software %>
					<% for soft in @software %>
						<div class="ui-widget ui-corner-all" style="margin: 15px;">
						<div class="ui-widget-header ui-corner-top" style="padding: 0.4em;">Software Item<span style="float: right; position: relative; top: 4px; cursor: pointer;" class="close_software ui-icon ui-icon-circle-close"></span></div>
						<div style="padding: 10px;" class="ui-widget-content">
						<%= fields_for 'computer[software]', @software, :index => nil do |s| %>
							Software Name: <br />
							<%= text_field_tag "computer[software][][name]", soft['name'], {id: "edit_#{params[:id]}-#{soft['name']}_computer_software__name"} %><br />
							Developer:<br />
							<%= text_field_tag "computer[software][][dev]", soft['dev'], {id: "edit_#{params[:id]}-#{soft['dev']}_computer_software__name"} %><br />
							Serial Number:<br />
							<%= text_field_tag "computer[software][][sn]", soft['sn'], {id: "edit_#{params[:id]}-#{soft['sn']}_computer_software__name"} %><br />
						<% end %>
						</div>
						</div>
					<% end %>
				<% end %>
				<div id="softwareFields_<%= params[:id] %>">

				</div>
				<button type="button" id="<%= params[:id] %>_add_software_link">Add Software</button>
				</div>
				</p>
			</div>
			<h3><a href="#">Finalize</a></h3>
			<div>
				<p>
					<%= f.submit "Submit", {id: "edit_#{params[:id]}-computer_software_submit"} %>
				</p>
			</div>
		</div>
	</div>
<% end %>
<div id="edit_<%= params[:id] %>-finishing"></div>

<script type="text/javascript" src="/javascripts/jquery.validationEngine.js"></script>
<script type="text/javascript" src="/javascripts/jquery.validationEngine-en.js"></script>
<script type="text/javascript">

$(document).ready(function(){
	theme_forms("edit_<%= params[:id] %>");
	//theme_forms("edit_<%= params[:id] %>");
	$('div[class|="editcomputer_<%= params[:id] %>"]').buttonset();

	$('#edit_computer_<%= params[:id] %>').validationEngine('attach');

	// Buttonize
	$(':button, :submit').button();
	$('#<%= params[:id] %>_add_software_link').button( 'option', 'icons', {primary:'ui-icon-circle-plus'} );

	$('#edit_<%= params[:id] %>-computer_software_submit').css('color', '#0C0');
	$('#edit_<%= params[:id] %>-computer_software_submit').css('border', '1px solid #0A0');
	$('#edit_computer_<%= params[:id] %>').bind('ajax:success', function(){
  		$("#edit_<%= params[:id] %>-finishing").html("Success!");
  		$("#edit_<%= params[:id] %>-finishing").dialog({
			autoOpen: true,
			show: "blind",
			hide: "fade",
			modal: true,
			title: "Saved",
			buttons: { "Ok": function() { 
				var selected = $('#blackmamba').tabs('option', 'selected');
				$(this).remove(); 
				$('#blackmamba').tabs('select', 0);
				$('#blackmamba').tabs('remove', selected );
				} }
		});
	});

	$("#<%= params[:id] %>_add_software_link").bind("click", function(){
		$.get('/computer/add_software', function(data) {
		  $('#softwareFields_<%= params[:id] %>').append(data);
		});
	});

	$("#edit_<%= params[:id] %>_computer_container").show("fade", {}, 550, function() {
		$('#computer_<%= params[:id] %>_accordion').accordion({fillSpace: true});
		popIt();
		var h = $('.pop').css('height') - 100;
		$('#computer_<%= params[:id] %>_accordion >div').css('height', h);
	});
});

</script>