<%= form_for(@computer, :remote => true, :url => '/computer', :html => { :'data-type' => 'html' }) do |f| %>
<div class="pop" id="new_computer_container" style="display: none;">
		<div id="new_computer_accordion">
			<h3><a href="#">General</a></h3>
			<div>
				<p>
					<div>
					<% # Each ID is specified manually to keep from conflicting with tabs that have similar forms %>
						Name:&nbsp;<%= f.text_field :name, {class: "validate[required]", id: "new-computer_name", size: 10} %>
						&nbsp;
						SN:&nbsp;<%= f.text_field :sn, {class: "validate[required]", id: "new-computer_sn", size: 12} %>
						&nbsp;
						<br /><br />
						<div class='newcomputer-radios'>
							Status:
								<%= f.radio_button :status, "active", {id: "new-computer_status_active"} %><label for="new-computer_status_active">Active</label>
								<%= f.radio_button :status, "inactive", {id: "new-computer_status_inactive"} %><label for="new-computer_status_inactive">Inactive</label>
						</div><br />
						<div class='newcomputer-radios'>
							Machine Type:
								<%= f.radio_button :mtype, "laptop", {id: "new-computer_mtype_laptop"} %><label for="new-computer_mtype_laptop">Laptop</label>
								<%= f.radio_button :mtype, "desktop", {id: "new-computer_mtype_desktop"} %><label for="new-computer_mtype_desktop">Desktop</label>
								<%= f.radio_button :mtype, "server", {id: "new-computer_mtype_server"} %><label for="new-computer_mtype_server">Server</label>
							</div>
							<br />
						<div class='newcomputer-radios'>
							Location:
								<%= f.radio_button :loc, "Orlando", {id: "new-computer_loc_orlando"} %><label for="new-computer_loc_orlando">Orlando</label>
								<%= f.radio_button :loc, "Homes", {id: "new-computer_loc_homes"} %><label for="new-computer_loc_homes">Homes</label>
								<%= f.radio_button :loc, "Miami", {id: "new-computer_loc_miami"} %><label for="new-computer_loc_miami">Miami</label>
								<%= f.radio_button :loc, "Hawaii", {id: "new-computer_loc_hawaii"} %><label for="new-computer_loc_hawaii">Hawaii</label>
								<%= f.radio_button :loc, "Vegas", {id: "new-computer_loc_vegas"} %><label for="new-computer_loc_vegas">Las Vegas</label>
								<%= f.radio_button :loc, "Newyork", {id: "new-computer_loc_newyork"} %><label for="new-computer_loc_newyork">New York</label>
						</div>
						<br / >
						<span>
							<span style="float: left; position: relative;top: 5px; display: none;" class="loading-dpts ui-icon ui-icon-signal"></span>
							Department: <%= f.select :dpt, [], :class => "validate[required]", :id => "new-computer-dpt" %>
						</span>

					</div>

					<br /><br />
					<button type="button" class="soft next">Software</button>
					<button type="button" class="finalize last">Finalize</button>

				</p>
			</div>
			<h3><a href="#">Software</a></h3>
			<div>
				<p>
				<div id="new_softwareFields">

				</div>
				<div>
					<button type="button" id="n_add_software_link">Add Software</button>
					<button type="button" class="gen prev">General</button>
					<button type="button" class="finalize last">Finalize</button>
				</div>
				</p>
			</div>
			<h3><a href="#">Finalize</a></h3>
			<div>
				<p>
					<button type="button" class="soft prev">Software</button>
					<button type="button" class="gen prev">General</button>
					<%= f.submit "Submit" %>
				</p>
			</div>
		</div>
	</div>
<% end %>
<div id="new_comp_finishing"></div>

<script type="text/javascript" src="/javascripts/jquery.validationEngine.js"></script>
<script type="text/javascript" src="/javascripts/jquery.validationEngine-en.js"></script>
<script type="text/javascript">

$(document).ready(function () {
	theme_forms("new");
	
	$('div[class|="newcomputer"]').buttonset();

	$('#new_computer').validationEngine('attach');

	// New Form navigation buttons.
	// The accordion header are not clickable so that we can attach
	// validation to the process of stepping through the form.
	$('.gen').each(function (index, elm) { // Akways can go back to general heading
	    $(elm).click(function() {
	        $('#new_computer_accordion').accordion('activate', 0);
	    });
	});

	$('.soft').each(function (index, elm) { // Calls the validation process and checks if it's true
											// if it is the heading changes to the desired state
	    $(elm).click(function() {
	    	if ($('#new_computer').validationEngine('validate'))
	    	{
	    		$('#new_computer_accordion').accordion('activate', 1);
	    	}
	    });
	});

	$('.finalize').each(function (index, elm) {
		$(elm).click(function() {
		if ($('#new_computer').validationEngine('validate'))
		{
			$('#new_computer_accordion').accordion('activate', 2);
		}
		});
	});

	/* Buttonville USA */
	$('#new_computer :submit').button();
	$(':button').button();
	$('.last').button( 'option', 'icons', {secondary:'ui-icon-arrowstop-1-e'} );
	$('.next').button( 'option', 'icons', {secondary:'ui-icon-arrow-1-e'} );
	$('.prev').button( 'option', 'icons', {primary:'ui-icon-arrow-1-w'} );
	$('#n_add_software_link').button( 'option', 'icons', {primary:'ui-icon-circle-plus'} );

	/* CSS Additions other then initial form themeing */
	$('#computer_submit').css('color', '#0A0');
	$('#computer_submit').css('border', '1px solid #090');

	/* Binds and Lives */
	$("input[name='computer[loc]']").live("change", function () {
		loc = $("input[name='computer[loc]']:checked").val();
		$('.loading-dpts').show('pulsate', {}, 500);
		$("select[id='computer_dpt']").load('/department/get_location_departments/' + loc, function (){
			//$(this).effect("highlight");
			//$('.loading-dpts').hide('fade');
		});

	});

	$('#new_computer').live('ajax:success', function(data, textStatus, jqXHR){
		$("#new_comp_finishing").html("Saved Successfully: " + textStatus);
		$("#new_comp_finishing").dialog({
			autoOpen: true,
			show: "blind",
			hide: "fade",
			modal: true,
			title: "Luke Filesaver",
			buttons: { "Ok": function() { 
				var selected = $('#blackmamba').tabs('option', 'selected');
				$(this).remove(); 
				$('#blackmamba').tabs('select', 0);
				$('#blackmamba').tabs('remove', selected );
				} }
		});
	});
	$('#new_computer').live("ajax:error", function(xhr, textStatus, errorThrown){
		$("#new_comp_finishing").html("Error: " + textStatus.status +
			"<br /><br />" + textStatus.responseText);
		$("#new_comp_finishing").dialog({
			autoOpen: true,
			show: "blind",
			hide: "fade",
			modal: true,
			title: "Luke Filesaver",
			width: "500px",
			buttons: { "Ok": function() { 
						$(this).dialog("destroy"); 
					} }
		});
	});

	$("#n_add_software_link").bind("click", function(){
		$.get('/computer/add_software', function(data) {
		  $('#new_softwareFields').append(data);
		  style_new_computer_form();
		});
	});

	$('#new_computer_container').show('fade',{}, 550, function(){
		$('#new_computer_accordion').accordion({fillSpace: true});
		popIt();
		var h = $('.pop').css('height') - 100;
		$('#new_computer_accordion >div').css('height', h);
		$('#new_computer_accordion >h3').unbind("click");
	});
		
});

</script>

