<%= form_for(@computer, :remote => true, :url => '/computer') do |f| %>
<div class="pop new">
		<div id="new_computer_accordion">
			<h3><a href="#">General</a></h3>
			<div>
				<p>
					<div>
						Name:<br /><%= f.text_field :name, {class: "validate[required]"} %>
						<br />
						SN:<br /><%= f.text_field :sn, {class: "validate[required]"} %>
						<br /><br />
						<div class='radios1'>
							Status:
								<%= f.radio_button :status, "active" %><label for="computer_status_active">Active</label>
								<%= f.radio_button :status, "inactive" %><label for="computer_status_inactive">Inactive</label>
						</div><br />
						<div class='radios1'>
							Machine Type:
								<%= f.radio_button :mtype, "laptop" %><label for="computer_mtype_laptop">Laptop</label>
								<%= f.radio_button :mtype, "desktop" %><label for="computer_mtype_desktop">Desktop</label>
								<%= f.radio_button :mtype, "server" %><label for="computer_mtype_server">Server</label>
							</div>
							<br />
						<div class='radios1'>
							Location:
								<%= f.radio_button :loc, "orlando" %><label for="computer_loc_orlando">Orlando</label>
								<%= f.radio_button :loc, "homes" %><label for="computer_loc_homes">Homes</label>
								<%= f.radio_button :loc, "miami" %><label for="computer_loc_miami">Miami</label>
								<%= f.radio_button :loc, "hawaii" %><label for="computer_loc_hawaii">Hawaii</label>
								<%= f.radio_button :loc, "vegas" %><label for="computer_loc_vegas">Las Vegas</label>
								<%= f.radio_button :loc, "newyork" %><label for="computer_loc_newyork">New York</label>
						</div>
					</div>

					<br /><br />
					<button type="button" class="soft next">Software</button>
					<button type="button" class="finalize last">Finalize</button>

				</p>
			</div>
			<h3><a href="#">Software</a></h3>
			<div>
				<p>
				<div id="new_softwareFields">

				</div>
				<div>
					<button type="button" id="n_add_software_link">Add Software</button>
					<button type="button" class="gen prev">General</button>
					<button type="button" class="finalize last">Finalize</button>
				</div>
				</p>
			</div>
			<h3><a href="#">Finalize</a></h3>
			<div>
				<p>
					<button type="button" class="soft prev">Software</button>
					<button type="button" class="gen prev">General</button>
					<%= f.submit "Submit" %>
				</p>
			</div>
		</div>
	</div>
<% end %>
<div id="new_comp_finishing"></div>

<script type="text/javascript" src="/javascripts/jquery.validationEngine.js"></script>
<script type="text/javascript" src="/javascripts/jquery.validationEngine-en.js"></script>
<script type="text/javascript">

function style_form() {
	$('#new_computer>:input[type=text]').addClass('ui-corner-all ui-state-default');
	$('#new_computer>:input[type=text]').hover(
		function (){ 
			$(this).toggleClass('ui-state-hover'); 
		});
	$('#new_computer>:input[type=text]').focus(function(){
		$(this).toggleClass('ui-state-active');
	});
	$('#new_computer>:input[type=text]').blur(function(){
		$(this).toggleClass('ui-state-active');
	});
}

$(document).ready(function(){
	popIt();
	//style_form();

	$('#new_computer .radios1').buttonset();

	$('#new_computer').validationEngine('attach');

	$('#new_computer_accordion').accordion({fillSpace: true});
	var h = $('.pop').css('height') - 100;
	$('#new_computer_accordion >div').css('height', h);


	$('#new_computer_accordion h3').unbind("click");

	$('#new_computer_accordion .gen').each(function (index, elm) {
	    $(elm).click(function() {
	        $('.new #new_computer_accordion').accordion('activate', 0);
	    });
	});

	$('#new_computer_accordion .soft').each(function (index, elm) {
	    $(elm).click(function() {
	    	if ($('#new_computer').validationEngine('validate'))
	    	{
	    		$('#new_computer_accordion').accordion('activate', 1);
	    	}
	    });
	});

	$('#new_computer_accordion .finalize').each(function (index, elm) {
	    $(elm).click(function() {
	    	if ($('#new_computer').validationEngine('validate'))
	    	{
	    		$('#new_computer_accordion').accordion('activate', 2);
	    	}
	    });
	});

	/* Buttonville USA */
	$('#computer_submit').button();
	$('#new_computer_accordion .gen').button();
	$('.last').button( 'option', 'icons', {secondary:'ui-icon-arrowstop-1-e'} );
	$('.next').button( 'option', 'icons', {secondary:'ui-icon-arrow-1-e'} );
	$('.prev').button( 'option', 'icons', {primary:'ui-icon-arrow-1-w'} );
	$('.new #add_software_link').button( 'option', 'icons', {primary:'ui-icon-circle-plus'} );

	/* CSS Additions other then initial form themeing */
	$('.new #computer_submit').css('color', '#0C0');
	$('.new #computer_submit').css('border', '1px solid #0A0');

	/* Binds and Lives */
	$('#new_computer').bind('ajax:success', function(){
  		$("#new_comp_finishing").html("Success!");
  		$("#new_comp_finishing").dialog({
			autoOpen: true,
			show: "blind",
			hide: "fade",
			modal: true,
			title: "Save",
			buttons: { "Ok": function() { 
				var selected = $('#blackmamba').tabs('option', 'selected');
				$(this).dialog("destroy"); 
				$('#blackmamba').tabs('select', 0);
				$('#blackmamba').tabs('remove', selected );
				} }
		});
	});
	$('.new #new_computer').bind('ajax:error', function(xhr, ajaxOptions, thrownError){
  		$("#new_comp_finishing").html(xhr);
  		$("#new_comp_finishing").dialog({
			autoOpen: true,
			show: "blind",
			hide: "fade",
			modal: true,
			title: "Save",
			buttons: { "Ok": function() { 
				$(this).dialog("destroy"); 
				} }
		});
	});

	$("#n_add_software_link").bind("click", function(){
		$.get('/computer/add_software', function(data) {
		  $('#new_softwareFields').append(data);
		  style_form();
		});
	});

	$('.new .close_software').live("click", function() {
		$(this).parent().parent().remove();
	});
});

</script>

