<!DOCTYPE html>
<html>
<head>
	<title>Inventory30</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/superfish.css" />
	<!--<link rel="stylesheet" type="text/css" href="/stylesheets/datatables.css" />-->

	<% if @theme == "dark" then #Theme Selection code %>
		<link rel="stylesheet" type="text/css" href="/stylesheets/custom-theme/jquery-ui-1.8.13.custom.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/style-dark.css" />
		<link  href="http://fonts.googleapis.com/css?family=Wallpoet:regular" rel="stylesheet" type="text/css" >
	<% elsif @theme == "light" then %>
		<link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/stylesheets/custom-theme1/jquery-ui-1.8.12.custom.css" />
		<link rel="stylesheet" type="text/css" href="/stylesheets/style-light.css" />
	<% end %>

	<link rel="stylesheet" type="text/css" href="/stylesheets/validationEngine.jquery.css" />

	<link href='http://fonts.googleapis.com/css?family=Brawler' rel='stylesheet' type='text/css'>

	<link href='http://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet' type='text/css'>



	<script type="text/javascript" src="/javascripts/jquery.js"></script>
	<script type="text/javascript" src="/javascripts/jquery-ui-1.8.13.js"></script>
	<script type="text/javascript" src="/javascripts/rails.js"></script>
	<script type="text/javascript" src="/javascripts/application.js"></script>
	<script type="text/javascript" src="/javascripts/superfish.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="/javascripts/tooltip.js"></script>
	<script type="text/javascript" src="/javascripts/tooltip.slide.js"></script>
	<script type="text/javascript">


	
	$(document).ready(function() {
	/* Tab declaration and initialzation */
	$( "#blackmamba" ).tabs({
		//Create close button for new tabs
		tabTemplate: "<li><a href='#{href}'>#{label}</a> <span class='ui-icon ui-icon-close'>Remove Tab</span></li>", 
		ajaxOptions: {
			error: function( xhr, status, index, anchor ) {
				$( anchor.hash ).html(
					"Couldn't load this tab. We'll try to fix this as soon as possible. ");
			}
		},
		//When adding tab, select that tab
		add: function(event, ui) {
				$("#blackmamba").tabs('select', '#' + ui.panel.id);
			},
		//When tab closes, reload the home tab accordion content
		remove: function(event, ui){
				//reloadHome();
			},
		cache: true,
		spinner: "Wait a sec..."
	});

	//Operate the close button on tabs
	$( "#blackmamba span.ui-icon-close" ).live( "click", function() {
		var index = $( "li", "#blackmamba" ).index($(this).parent());
		$("#blackmamba").tabs("remove", index);
		$("#blackmamba").tabs("select", 0);
	});

	//Keep the tab panels the same size as the window
	$(window).resize(function() {
		popIt();
	});

	/* Full screen tab sizes */
	popIt();
	
	/* Top Menu */
	$('ul.sf-menu li').addClass("ui-widget-content ui-state-default");
	//$('ul.sf-menu li:first').addClass("ui-corner-left");
	$('ul.sf-menu li:last').addClass("ui-corner-right");
	$('ul.sf-menu li').hover(function(){
		$(this).toggleClass('ui-state-hover');

	});
	$('ul.sf-menu li li span').addClass("ui-icon ui-icon-carat-1-e");
	$('ul.sf-menu li span.down-a').addClass("ui-icon ui-icon-carat-1-s");
	$("ul.sf-menu").superfish({
		delay:       379,
		animation:   {height:'show'}, 
		speed:       'fast',
		autoArrows:  false,
		dropShadows: false,
		disableHI:   true
	});

	/* Theme Chooser */
	$("#theme1_submit").button();
	$(".radios2").buttonset();
	$("#changeform").hide();
	$("#themechanger #tag").click(function(){
		$("#changeform").toggle();
	});

	/* Load the accordian panel content */
	reloadHome();
	
	setTimeout("$('#tabs-2').load('/root/find');", 2500);
});
</script>

</head>
<body>
<div id="logo">
	<p>INV<span id="three">3</span>NTORY</p>
</div>

<div id="topnav_container">
<ul class="sf-menu ui-widget ui-widget-header ui-corner-right">
			<li class="current">
				<a href="#a" class="wa">New</a>

				<span class='down-a'></span>
				<ul>
					<li>
						<a href="#" onclick="addtab('/computer/new', 'New Computer');">Computer</a>
					</li>
					<li class="current">
						<a href="#" onclick="addtab('/department/new', 'New Department');">Department</a>
					</li>
					<li>
						<a href="#">Employee</a>
					</li>
					<li>
						<a href="#">Network</a>

						<span class='right-a'></span>
						<ul>
							<li><a href="#">Switch</a></li>
							<li><a href="#">Firewall</a></li>
							<li><a href="#">UPS</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Accessory</a>

						<span class='right-a'></span>
						<ul>
							<li><a href="#">General</a></li>
							<li><a href="#">Projector</a></li>
							<li><a href="#">Phone</a></li>
							<li><a href="#">Cable</a></li>
							<li><a href="#">Hard Drive</a></li>
							<li><a href="#">Mouse</a></li>
							<li><a href="#">Keyboard</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Article</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">Tickets</a>
			</li>
			<li>
				<a href="#">Lists</a>

				<span class='down-a' style="float: right;"></span>
				<ul>
					<li>
						<a href="#">Computers</a>

						<span class='right-a'></span>
						<ul>
							<li><a href="#" onclick="addtab('/computer/list', 'All Computers');">All</a></li>
							<li><a href="#">Reservations</a></li>
							<li><a href="#">Ect..</a></li>
							<li><a href="#">Ect..</a></li>
							<li><a href="#">Ect..</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Employees</a>

						<span class='right-a'></span>
						<ul>
							<li><a href="#">Accounting</a></li>
							<li><a href="#">Reservations</a></li>
							<li><a href="#">Ect..</a></li>
							<li><a href="#">Ect..</a></li>
							<li><a href="#">Ect..</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Network</a>

						<span class='right-a'></span>
						<ul>
							<li><a href="#">Switches</a></li>
							<li><a href="#">Firewalls</a></li>
							<li><a href="#">UPS</a></li>
							<li><a href="#">Servers</a></li>
							<li><a href="#">Ect..</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Accessories</a>

						<span class='right-a'></span>
						<ul>
							<li><a href="#">Accounting</a></li>
							<li><a href="#">Reservations</a></li>
							<li><a href="#">Ect..</a></li>
							<li><a href="#">Ect..</a></li>
							<li><a href="#">Ect..</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Departments</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="#">Troubleshooting</a>

				<span class='down-a'></span>
				<ul>
					<li><a href="#">Connectivity</a></li>
					<li><a href="#">Power</a></li>
					<li><a href="#">Lotus</a></li>
					<li><a href="#">Outlook</a></li>
					<li><a href="#">Phones</a></li>
				</ul>
			</li>	
			<li>
				<a href="#">Help</a>
			</li>
		</ul>  
</div><br /><br />


<div id="blackmamba"> <!-- don't touch it -->
	<ul>
		<li><a href="#tabs-1"><span class='ui-icon ui-icon-home'></span>Home</a><span id="home_tab_refresh" style="float: right; display: none; position: relative; top: 0; right: 0;" class="ui-icon ui-icon-signal-diag"></span></li>
		<li id="find_tab"><a href="#tabs-2"><span class='ui-icon ui-icon-zoomin'></span>Find</a></li>
	</ul>

	<div id="tabs-1">
		<div class="pop"><%= yield %></div>
	</div>
	<div id="tabs-2">
		<div class="pop"></div>
	</div>
</div>

<div id="footer" style="float: right; color: #FFF;font-family: 'Aclonica', arial, serif; text-shadow: 2px 2px 2px #000;">(C)2011 Hotelbeds USA. By Chris Allison</div>
<div id="themechanger">
	<span id="tag" style="cursor: pointer;">Change Theme<span class="ui-icon ui-icon-triangle-1-e" style="float: left; margin-top: 3px;"></span></span>

	<div id="changeform">
		<div class="ui-widget" style="padding: 0.5em; float: left;">
			<span class="ui-state-error ui-corner-all" style="padding: 0.1em;">Changing theme's will reload the page and destroy open tabs<span class="er-ico ui-icon ui-icon-alert" style="float: left; margin-top: 3px;"></span></span><br /><br />
		</div>
		<%= form_for(:theme1, {url: '/root/theme'}) do |t| %>

		<span class="radios2">
			<%= t.radio_button :ts, "dark" %><label for="theme1_ts_dark">Dark</label>
			<%= t.radio_button :ts, "light" %><label for="theme1_ts_light">Light</label>
		</span>
		<%= t.submit "Change" %>

		<% end %>
	</div>
<br />
</div>
</body>
</html>
